 FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
/*FONT DECLARATIONS*/
@font-face {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-weight: 600;
	font-weight: 700;
}

/* DEFAULT SETTINGS */

*{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color: white;
	margin:1%;
}

/* CLASSES */

	/* HEAD */
.headDiv {
	background-color: #dba9a1;
	text-align:center;
	margin:0px;
}

.websiteTitle {
	padding:30px;
	font-size: 300%;
}

	/* NAVIGATION */
.navLink {
	color: white;
	width:120px;
	font-weight: 600;
	font-size: 25px;
	padding: 0px;
	margin: 0px 10px;
	overflow:hidden;
	position:relative;
	display:inline-block;
	text-decoration:none;
	transition: clip-path 0.3s linear;
}

.navLink:hover::before {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.navLink::before {
	content: attr(data-content);
	color: #dba9a1;
	position: absolute;
    text-decoration: underline;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: clip-path 0.3s linear;
}

.navLinkContainer {
	text-align: center;
}

	/* PROJECTS */
.projectDiv {
	padding-bottom:5px;
	padding-top:5px;
	padding-left:0px;
	color: #dba9a1;
	text-decoration: underline;
	font-size:28px;
}
.sliderButtonContainer {
	text-align: center;
	margin:auto;
	display:block;
	width:270px;
}
.sliderButton {
	font-weight: 700px;
	font-size:32px;
	background-color:transparent;
	border:none;
	color: white;
	outline: none;
}
	
.sliderButton:hover {
	color: #dba9a1;
}

/* SPECIFIC ELEMENTS */

h2, h3, h5, p {
}

h1 {
	font-size: 250%;
	font-style:oblique;
	font-weight: 700;
}

h2 {
	font-size: 200%;
	font-weight:600;
}

h3 {
	font-size: 170%;
	font-weight: 600;
}

h5 {
	font-size: 130%;
}

ul {
	type: circle;
}

body {
	background-color: #1a1716;
	background-image: url("/assets/clouds.jpg");
}

input, button {
	color: #1a1716;
}
